@font-face {
    font-family: 'Poppins-Bold';
    src: url('../assets/fonts/Poppins-Bold.ttf');
}

body {
    color: white !important;
    font-family: 'Poppins-Bold'!important;
}

.main_content {
    margin-top: 2%;
    margin: 0 auto;
    overflow-x:auto;
    padding: 20px;
    width: 50vw;
    border-radius: 10px;
}

.input_div {
    margin-top: 10px;
}

.button-container-div {
    width: 300px;
    display: flex;
    justify-content: center;
}

h1 {
    margin-bottom: 20px;
    color: #00dcaa !important;
}

.table thead > tr > th {
    border-top: none !important;
}

.table {
    background: linear-gradient(90deg, rgba(1,214,239,1) 35%, rgba(0,220,170,1) 100%);
    color: white !important;
    border: none !important;
    border-radius: 10px;
}

.table tbody > tr > td {
    vertical-align: middle !important;
}

#table_form {
    width: 50vw;
}

.form_button {
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.edit_button {
    background: none;
    border: none;
}

.inner_table_input {
    margin: 0 auto;
    margin-top: 5px;
    width: 200px !important;
}

.emi_td {
    padding: 20px;
}