@font-face {
    font-family: 'Poppins-Bold';
    src: url('../assets/fonts/Poppins-Bold.ttf');
}

body {
    color: white !important;
    font-family: 'Poppins-Bold'!important;
}

h1 {
    margin-bottom: 20px;
    color: #00dcaa !important;
}

.main_content {
    margin-top: 8%;
    padding: 20px;
    width: 400px !important;
    border-radius: 10px;
}

.input_div {
    margin-top: 10px;
}

.button-container-div {
    width: 300px;
    display: flex;
    justify-content: center;
}

.form_button {
    margin-top: 20px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, rgba(1,214,239,1) 35%, rgba(0,220,170,1) 100%);
    border: none !important;
}